.react-resizable {
  position: relative;
  background-clip: padding-box;
}
.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}
.react-resizable-handle:hover {
  background-color: #1890ff;
  opacity: 0.5;
}


.common-scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.common-scroll-container::-webkit-scrollbar-track {
  background: var(--color-scoll-bg-layout);
  border-radius: 4px;
}

.common-scroll-container::-webkit-scrollbar-thumb {
  background: var(--color-scoll-bg-container);
  border-radius: 4px;
}

.common-scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--color-scoll-bg-container);
  border-radius: 4px;
  opacity: 0.8;
}


